[submodule "wbinventory/static/steal"]
	path = wbinventory/static/steal
	url = git@github.com:wherebee/steal.git
[submodule "wbinventory/static/jquery"]
	path = wbinventory/static/jquery
	url = git@github.com:wherebee/jquerymx.git
[submodule "wbinventory/static/documentjs"]
	path = wbinventory/static/documentjs
	url = git@github.com:wherebee/documentjs.git
[submodule "wbinventory/static/funcunit"]
	path = wbinventory/static/funcunit
	url = git@github.com:wherebee/funcunit.git
