{% extends "wbinventory/base.html" %}
{% load url from future %}

{% block title %}
    Site Search
{% endblock %}

{% block content %}
    <h2>Search results</h2>

    {% include "wbinventory/item/table.html" %}

    {% with create_item_form as form %}
        {% if form %}
            <h2>Create a new item</h2>

            <p>No exact item number was found for your search. You can create a new item below.</p>

            {% url 'wbinventory_item_create' as action %}
            {% include "wbinventory/form.html" %}
        {% endif %}
    {% endwith %}
{% endblock %}
